<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Otter Scholar Shop</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
    <!-- <link rel="stylesheet" href="styles.css"> -->

</head>
<body>
        <script>
            function updateDateTime() {
                //
            }
        </script>

        <button id="button_pomodoro" onclick="startPomodoro()">Start Pomodoro</button>
        <button id="button_timer" onclick="runPythonScript()">Custom Timer</button>
        <button id="button_music" onclick="runPythonScript()">Select Music</button>
        
        <button id="button_jazz" onclick="jazz_music()">Play Jazz</button>
        <button id="button_piano" onclick="piano_music()">Play Piano</button>
        <button id="button_relaxing" onclick="relaxing_music()">Play Relaxing</button>
        <button id="button_soft" onclick="soft_music()">Play Soft Vibes</button>
        
        <button id="button_finish" onclick="runPythonScript()">Finish</button>
        <button id="button_task" onclick="runPythonScript()">Example Task</button>
        <button id="button_completed_tasks" onclick="runPythonScript()">View Completed Tasks</button>
        <button id="button_leaderboard" onclick="runPythonScript()">Leaderboard</button>
    
    </div>

</body>
</html>